body > ad-shield-inventory {
  display: none !important;
}

#header-top-notice {
  display: none !important;
}


header>#header-area>a>h1 {  
      background: url(https://developkim.github.io/yeo_ul_css/img/logo.png) no-repeat !important;
}


#article-list>.article-list-row>.item>a.list-title:visited
{
  color: purple!important;
}
