body > ad-shield-inventory {
  display: none !important;
}

#header-top-notice {
  display: none !important;
}


header>#header-area>a>h1 {  
background: url(https://developkim.github.io/yeo_ul_css/img/logo.png) no-repeat !important;
    background-size: contain !important;
    width: 135px;
    height: 65px;
    margin: 0 auto;
}

#article-list>.article-list-row>.item>a.list-title:visited
{
  color: purple !important;
}

#article-list>.article-list-row.notice {
    background-color: #dddd !important;
}

html.darkmode #article-list>.article-list-row.notice {
  background-color: darkblue !important;
}

html.darkmode.mb #article-list>div:nth-child(3) {
  background-color: darkblue !important;
}


html.darkmode .category[style] {
  color: white !important;
}

html.darkmode .list-time {
  color: white !important;
}
 

#movetotop  {
  bottom: 110px !important;
}
